:root {
    --bg: #ffffff;
    --side: #888888;
    --accent: #ffffff;
    --gold: #7e7373;
    --green: #98a99e;
    --black: #202020;
    --white: #f8f8f8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Papyrus', fantasy;
    user-select: none;
}
/*button {
   
    background-image: url("container.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
   
    border: none;
    image-rendering: pixelated; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Papyrus', fantasy;
    font-size: 1rem;

    cursor: pointer;
    padding: 10px 20px;
    transition: transform 0.1s ease, filter 0.1s ease;
}*/


button:active {
    transform: scale(0.95); 
    filter: brightness(0.8);  
}

button:hover {
    filter: brightness(1.1);
}

body {
    display: flex;
    height: 100vh;
    background: var(--bg);
    color: white;
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: var(--black);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #1e293b;
    z-index: 100;
}


.logo img {
    max-width: 100%; 
    height: auto;    
    margin: 0 auto;   
}
.nav-btn {
    background-image: url("container.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background:black;
    border: 1px solid #000000;
    color: #ffffff;
    padding: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.1s ease, filter 0.2s ease;
}

.nav-btn:hover, .nav-btn.active {
    background: var(--accent);
    color: #01030d;
    border-color: var(--accent);
    font-weight: bold;
}
.nav-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

/* MAIN CONTAINER & BLUR */
.main-container {
    display: flex;
    flex: 1;
    transition: filter 0.3s ease;
}

.blur-effect {
    filter: blur(1px) brightness(1);
}

.content-section {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 100%;
    overflow-y: hidden;
}

.content-section.active {
    display: flex;
}

#counter {
    font-size: 64px;
    user-select: none;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0px 10px 20px rgb(0, 0, 0);
}

#stats-bar {
    background: #1e293b;
    padding: 8px 20px;
    border-radius: 20px;
    margin: 20px 0;
}

.btn-main {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: none;
    background: radial-gradient(circle, var(--green), #16a34a);
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 10px 0 #15803d;
    transition: transform 0.05s;
}

.btn-main:active {
    transform: translateY(5px);
    box-shadow: 0 5px 0 #15803d;
}
/* ===================== UPGRADES ===================== */
.upgrades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); 
    gap: 15px;
    justify-content: start; 
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
}

.upgrade-card {
    background: url(container.gif);

    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    padding: 12px;
    height: 90px; 
    width: 100%;
    /* overflow: hidden;  colocar em uma função dps kinda liked it*/
    border-radius: 15px;
    display: flex;              
    align-items: center;        
    gap: 12px;                  
    border: 1px solid #1d1e20;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
}

.upgrade-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.upgrade-card.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(0.8);
}


.upgrade-card img {
  
    width: 60px;
    height: 60px;
    border-radius: 0px;
    object-fit: cover; 
    -webkit-user-drag: none; 
    user-select: none;
    -webkit-touch-callout: none; 
}

.upgrade-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;          
    color: #ffffff;
}

/* nome */
.upgrade-text h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--accent);
}

/* desc*/
.upgrade-text p {
    margin: 2px 0 0 0;
    font-size: 0.9rem;
    color: #151414;
}
.upgrade-text small {
    margin: 2px 0 0 0;
    font-size: 0.9rem;
    color: #6e1414;
}

/* quantidade e custo >:P */
.upgrade-cost {
    font-weight: bold;
    font-size: 1rem;
    color: #0a0a0a; 
}

/* --------------------------------------PARTICLES-------------------------------------*/
.particle {
    position: fixed;
    width: 40px;
    height: 40px;
    pointer-events: none;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    animation: pop 0.8s forwards;
}

@keyframes pop {
    0% {
        transform: translate(0, 0) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(1.2);
        opacity: 0;
    }
}

@keyframes floatUp {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    100% { transform: translateY(-120px) scale(1.2); opacity: 0; }
}
#rebirth-mult {
    margin-top: 10px;
    color: var(--white);
    font-weight: bold;
}


.btn {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.rebirth-btn {
    background: var(--gold);
    color: black;
}

.conquista {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 10px;
    padding: 10px;
    margin: 8px 0;
    gap: 15px;
    border: 1px solid #334155;
}

.conquista img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.conquista-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conquista-textos b {
    color: var(--black);
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.conquista-textos p {
    font-size: 0.9rem;
    color: #94a3b8;
    margin: 0;
}
.stats-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #334155;
    margin-top: 15px;
}

.stats-box p {
    margin: 10px 0;
    font-size: 1.1rem;
} 
.click-img {
    width: 200px;
    cursor: pointer;
    transition: transform 0.08s ease;
    user-select: none;
}

.enemy-container {
    position: relative;
    width: 330px;  
    height: 330px; 
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-bottom: 10px;
}

.enemy-sprite {
    width: 100%; 
    height: 90%;
    z-index: 1;
    cursor: pointer;
    image-rendering: pixelated;
    transition: transform 0.08s ease;
    -webkit-user-drag: none; 
    user-select: none;
    -webkit-touch-callout: none; /* NAO REMOVE FI ISSO é pra nao selecionar imagem com o mouse  */
}

.enemy-sprite:active {
    transform: scale(1.1);
}

.enemy-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
 
    pointer-events: none; 
    image-rendering: pixelated;
}

.enemy-sprite {
    animation: floatEnemy 3s ease-in-out infinite;
}

@keyframes floatEnemy {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
}

.enemy-ui {
    width: 300px;
    text-align: center;
    z-index: 10; 
}
.health-bar {
    position: relative;
    width: 100%;
    height: 30px; 
    background-color:rgba(25, 25, 25, 0.711);
    background-repeat: no-repeat;
    background-size: 101% 100%;
    background-position: center;
    
}

.health-bar::after {
    content: "";
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background-image: url("Assets/healthbar.gif");
    background-size: 101% 100%;
    z-index: 3;
    pointer-events: none; 
}

.health-bar::before {
    content: "";
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background-size: 100% 100%;
    z-index: 3;
    pointer-events: none; 
}


#health-fill {
    position: absolute; 
    height: 100%;
    background-color: rgb(255, 250, 250);
    transition: width 0.2s ease;
    z-index: 1;
}

/*
.health-bar-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.5s ease;
    z-index: 1;
}
/*


/* TExto*/
.enemy-hp {
    font-size: 0.85rem;
    margin-top: 4px;
    color: #e0e0e0;
    text-shadow: 0px 10px 20px rgb(0, 0, 0);
}


.game-layout {
    display: flex;
    width: 100%;
    height: 100%;
}

.game-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*LOJAAAAAAAAAAAAAA */
.shop-side {
    width: 300px;
    background: #2f2d2d;
    border-left: 1px solid #303234;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#shop {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    /* Ajuste aqui a distância das bordas */
    padding-left: 2px;   /* Distância da esquerda */
    padding-right: 2px;  /* Distância da direita (o "gap" que você quer) */
    padding-bottom: 300px; /* Espaço no final para o scroll não cortar o último */
    
    overflow-y: auto;
    flex: 1;
}

#shop::-webkit-scrollbar {
    width: 6px;
}

#shop::-webkit-scrollbar-thumb {
    background: #55585b;
    border-radius: 10px;
}
/* área central Inimigus */
.center-content {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.center-content::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("Assets/gb.gif");

    background-position: center;
    background-repeat: repeat;

    filter: brightness(0.4); 
    
    z-index: 0;
}

.center-content > * {
    position: relative;
    z-index: 1;
}

.content-section {
    background: transparent;
}

.skill-node img {
    width: 64px;
    height: 64px;
    border: 2px solid #555;
    border-radius: 8px;
    transition: 0.2s;
}

.skill-node.locked img {
    filter: grayscale(100%) brightness(0.5);
    opacity: 0.6;
}

.skill-node.available img {
    filter: none;
    border-color: white;
}

.skill-node.bought img {
    filter: none;
    border-color: gold;
    box-shadow: 0 0 10px gold;
}
.skill-tree {
    left: 0;
    overflow: auto;
    display: -ms-grid;
    max-width: 100%;
    grid-template-columns: repeat(20, 80px); 
    grid-auto-rows: 80px;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

#rebirth-info {
    margin: 25px 0;
    left: 0;
    background-image: url(container.gif);
    padding: 20px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    max-width: 20%;
}